*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* common  css end */
#header_top{
background-image: url('../images/banner/banner1.png');
background-size: cover;
padding: 20px;
}
.right{
    text-align: right;
    padding: 100px 100px 100px 0;
}
.right h1{
    font-size: 65px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151414;
    
}
.right p{
    font-size: 16px;
    color: #444343;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}
.right .btn-contact{
    background-color: #F15B22;
    padding: 15px 20px 20px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    color: #FFF;
 }

 /* header part end */
 /* main part start */
 #previous_failure{
     background-color: #FFF;
    }
    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        padding: 100px 50px;
        
    }
    .demo_img{
        height: 666px;
        width: 569px;
    }
    .reminder{
        text-align: start;
        margin-top: 150px;
    }

    .main .reminder h2{
        font-size: 40px;
        font-weight: 700;
        font-family: 'Work Sans', sans-serif;
        color: #151414;
        margin-bottom: 20px;
    }

    .main .reminder p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        font-family: 'Work Sans', sans-serif;
        color: #444343;
        margin-bottom: 10px;
    }
    .main .reminder ol li p i{
        margin-right: 15px;
        color: #16D887;
    }
    /* main part end */
    /* my Plan section start */
    
    #plan{
        padding: 25px 0;
    }
    #plan .heading{
        font-size: 40px;
        font-weight: 700;
        font-family: 'Work Sans', sans-serif;
        color: #151414;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .plan_manage{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .plan_manage .plan_icon{
        text-align: center;
    }
    .plan_manage .plan_icon h3{
        font-size: 30px;
        color: #151414;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .plan_manage .plan_icon h4{
        font-size: 25px;
        font-weight: 500;
        color: #737272;
        font-family: 'Work Sans', sans-serif;
        
        
    }
    
    
    

/* my Plan section end */