*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* common  css end */
#header_top{
background-image: url('../images/banner/banner1.png');
background-size: cover;
padding: 20px;
}
.right{
    text-align: right;
    padding: 100px 100px 100px 0;
}
.right h1{
    font-size: 65px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151414;
    
}
.right p{
    font-size: 16px;
    color: #444343;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}
.right .btn-contact{
    background-color: #F15B22;
    padding: 15px 20px 20px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    color: #FFF;
 }

 /* header part end */
 /* main part start */
 #previous_failure{
     background-color: #FFF;
    }
    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        padding: 100px 50px;
        
    }
    .demo_img{
        height: 666px;
        width: 569px;
    }
    .reminder{
        text-align: start;
        margin-top: 150px;
    }

    .main .reminder h2{
        font-size: 40px;
        font-weight: 700;
        font-family: 'Work Sans', sans-serif;
        color: #151414;
        margin-bottom: 20px;
    }

    .main .reminder p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        font-family: 'Work Sans', sans-serif;
        color: #444343;

    }
    .main .reminder ol li p i{
        margin-right: 15px;
        color: #16D887;
    }
    /* main part end */
    /* my Plan section start */
    
    #plan{
        padding: 100px 0;
    }
    #plan .heading{
        font-size: 40px;
        font-weight: 700;
        font-family: 'Work Sans', sans-serif;
        color: #151414;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .plan_manage{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .plan_manage .plan_icon{
        text-align: center;
    }
    .plan_manage .plan_icon h3{
        font-size: 30px;
        color: #151414;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .plan_manage .plan_icon h4{
        font-size: 25px;
        font-weight: 500;
        color: #737272;
        font-family: 'Work Sans', sans-serif;        
    }
/* my Plan section end */
/* banner part start */
#banner{
    padding: 25px 05px;
}
.banner_picture{
    background: url('../images/watch.png') no-repeat, center;
    margin: 10px;
    
}
.banner_picture .gradient{
    background: url('../images/gradient2.png') no-repeat, center;
    padding: 50px 60px;
}
.gradient h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    margin-bottom: 20px;
}
.gradient .btn_click{
    background-color: #FFF;
    padding: 20px 36px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #F15B22;
}
/* banner part end */

/* footer part start */
#footer_item{
    background-color: #151414;
    padding: 130px 10px;
    margin-top: 120px;
}
.footer_items{
    display: flex;
    justify-content: space-between;
    
}
.footer_item .left_side{
    width: 50%;
}
.footer_item .right_side{
    width: 50%;
}
.footer_items .left_side .footer_heading{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #F8F8F8;
    margin-bottom: 15px;
}
.left_side .describe{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #FFF;
    line-height: 25px;
    margin-bottom: 15px;
}

.left_side .mail{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #FFF;
    line-height: 25px;
    margin-bottom: 15px;
}
.left_side .phn{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #FFF;
    line-height: 25px;
    margin-bottom: 15px;
}
.left_side .footer_icon a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFF;

}
.left_side .footer_icon a i{
    
    font-size: 30px;
text-align: center;
    color:#16D887;
}
/* footer part end */
